body {
  height: 100vh;
  width: 100vw;
  display: flex;
  margin: 0;
}
.p1 {
  font-size: 15px;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.org {
  height: 100%;
  width: 80%;
  display: block;
}
.top-row {
  height: 40%;
  width: 100%;
  display: flex;
  box-shadow: inset 0px 0px 0px 10px black;
  box-sizing: border-box;
}
.bottom-row {
  height: 40%;
  width: 100%;
  display: flex;
  box-shadow: inset 0px 0px 0px 10px black;
  box-sizing: border-box;
}
.side {
  width: 20%;
  height: 100%;
  display: block;
  box-shadow: inset 0px 0px 0px 10px black;
}
.sidepart {
  width: 20%;
  height: 50%;
}

.middle {
  height: 20%;
  width: 100%;
  box-shadow: inset 0px 0px 0px 10px black;
}

.square {
  height: 100%;
  width: 100%;
}

img {
  max-height: 75%;
  max-width: 75%;
}

.center-content {
  justify-content: center;
  align-items: center;
  display: flex;
}
.center-content2 {
  justify-content: center;
  align-items: center;
  display: flex;
}
.translucent {
  opacity: 0.5;
}
.small-img {
  max-height: 50%;
  max-width: 50%;
}
.clickable:hover {
  cursor: pointer;
}
.clickable:active {
  transform: scale(0.98);
}
/* colors to see divs */
.purple {
  background-color: #9d53bd;
}
.green {
  background-color: #239625;
}
.red {
  background-color: #b52626;
}
.brown {
  background-color: #de9f33;
}
.dark-blue {
  background-color: #218196;
}
.light-blue {
  background-color: #46a6f0;
}
.superlight-blue {
  background-color: #2ee8f2;
}
.sortoflight-blue {
  background-color: #3ad6ce;
}
.dark-grey {
  background-color: #3a3b3c;
}
.light-grey {
  background-color: #d3d3d3;
}

.clickablehover {
  cursor: pointer;
  filter: brightness(100%) drop-shadow(2px 8px 3px);
}
@media only screen and (min-width: 410px) and (max-width: 750px) {
  img {
    max-height: 65%;
    max-width: 65%;
  }
  body {
    display: block;
  }
  .side {
    height: 20%;
    width: 100%;
    display: block;
  }
  .square {
    height: 75%;
  }
  .org {
    width: 100%;
    display: flex;
  }
  .top-row {
    display: block;
  }
  .bottom-row {
    display: block;
  }
  .middle {
    display: none;
  }
  .center-content2 {
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .p1 {
    font-size: 10px;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  }
}
